*{
    margin: 0;
    padding: 0;
}
@media (max-width:540px) {
.socialIcon{
    background-color: black;
    
}  
}
.navicon i:hover{
    transform: translateY(5%);
}
.sliderMenu{
   background: rgb(8, 14, 31);
}
.search{
    text-align: center;
    font-size: 25px;
    width: 40vw;
}
.navicon{
    font-size: 200%;
    text-align: center;
}
.logo{
    height: 4vw;
    width: 14vw;
}
.dropMenu{
    position: absolute;
    margin-left: 15vw;
    width: 250px;
    height: 220px;
    background-color: rgb(8, 14, 31);
    visibility: hidden;
}
.dropMenu ul{
    padding: 5%;
}
.dropMenu ul a{
    color: cornsilk;
}
.categories i{
    font-size: 28px;
}
.categories span{
    font-size: 20px;
}
.uploadIcon{
    color: rgb(2, 15, 20);
    text-align: center;
    
}
.uploadIcon button{
    background-color: transparent;
    border: none;
    font-size: 28px;
}
.uploadIcon button:hover{
    background-color: transparent;
    transform: translateY(5px);
    border: none;
}
.informationCard{
    background: #fff3cd;
    color: #876404;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#spinnerBorder{
    position: absolute;
    align-self: center;
    
}
#uploadArea:hover{
color: #444444;
}
.longSpace{
    height: 500px;
    background: #fff;
}


.foot{
    
    height: 50vh;
    font-size: 50px;
    background: rgb(43, 43, 73);
    color: azure;
}
footer a{
    color: white;
}
footer a:hover{
    color: #ffd100;
}
.socialIcon i{
    color: #ffd000
}
.socialIcon i:hover{
    color: #fff;
    font-size: 50px;
}
